/**
  フォントに関しての設定。
  global.scssでbody全体のfont-familyは設定済み
**/

$f-size-xxl: 32px;
$f-size-xl: 21px;
$f-size-lg: 18px;
$f-size-md: 14px;
$f-size-sm: 12px;
$f-size-xs: 10px;

@mixin fontWrap($lineClamp: 2) {
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  -webkit-line-clamp: $lineClamp;
  overflow: hidden;
}
